/**
    General styling for the website
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1b2838;
}

/**
    Styling for navbar
 */

header {
    background: #1b2838;
    color: #fff;
    padding: 20px 0;
    height: 200px;
}

header .logo {
    float: left;
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    float: left;
    margin-left: 20px;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header .contact-info {
    float: right;
}


/**
    Styling footer
 */

footer {
    background: #2a475e ;
    color: #fff;
    padding: 40px 0;
}

footer .about,
footer .tijd,
footer .contact-info {
    margin-bottom: 20px;
}

footer h2 {
    margin-bottom: 10px;
}

footer .contact-info {
    text-align: center;
}
